body {
    font-family: ui-monospace, ui-sans-serif, "Liberation Mono", monospace, sans-serif;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;


    margin: 5%;

    background-position: center;
    position: relative;
}

name {
    font-size: 30px;
    font-weight: bold;
}

.main {
    align-content: center;
    width: 100%;
    height: 100%;
}
.cols {
    display: flex;
    align-content: center;
}



.col1 {
    width: 100%;
    position: absolute;
    left: 0;

    border-color: green;

    text-align: center;
}

#rescont {
    width: min(100%, 100px);

    position: relative;
    left: 50%;    
    transform: translate(-50%, 5%);

    
}

img.resume {
    height: auto;
    width: 100%;
}

.hovcov{
    opacity: 0%;
    background-color: darkgrey;
    align-content: center;
    color: black;
    
    width: 100%;


    transition: 0.1s;
    position: absolute;
    left: 0;
    height: 100%;

    text-align: center;

}

.hovcov:hover{
    opacity: 50%;
}
