body {
    font-family: ui-monospace, ui-sans-serif, "Liberation Mono", monospace, sans-serif;
    text-align: center;
    background-image: url("bg.jpg");
    cursor: url('my-cursor.png'), auto;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;

    margin-top: 5%;

    background-size:  auto 100%;
    background-position: center center;
}

@media (min-width: 1000px) {
    body{
        background-size: 100%;
        background-position: center center;
    }
}
name {
    font-size: 30px;
    font-weight: bold;
}

.main {
    width: 50%;

    display: flex;

    align-items: flex-start;
}



.col1 {
    width: 75%;
    position: relative;

    text-align: left;
}

.col2 {
    width: 25%;
    position: relative;
    text-align: left;
    
    line-height: 1.8vw;
    font-size: 1.2vw;
}

@media (max-width: 800px) {
    .main{
        width: 90vw;
    }
    .col2{
        line-height: 2.3vw;
        font-size: 2vw;
    }
}

img.resume {
    max-width: 100%;
}

.hovcov{
    position: absolute;
    opacity: 0%;
    background-color: darkgrey;
    align-content: center;
    color: black;

    height: 100%;
    width: 100%;

    transition: 0.1s;
    top: 0;
    left: 0;

    text-align: center;

}

.hovcov:hover{
    opacity: 50%;
}
